body {
    /* background-image: url("http://i63.tinypic.com/xasaq0.jpg"); */
}

.jumbotron {
    background-color: darksalmon;
    margin-top: -70px;
    border-bottom: 5px solid aquamarine;
}

.display-4 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    color: aquamarine;
    font-weight: bold;
}

.lead {
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin-bottom: -30px;
}

.instruct {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.instructions {
    margin-left: 90px;
    padding: 20px;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
    float: left;
}

.tally {
    margin-left: -140px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

#win {
    border: 5px solid darksalmon;
    padding: 30px;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#loss {
    border: 5px solid darksalmon;
    padding: 30px;
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.numbers {
    padding: 20px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
}

#matchThisNumber {
    padding: 10px;
    margin-right: -80px;
    margin-left: -160px;
}

#startPoint {
    padding: 10px;
    margin-left: -740px;
}

.crystals {
    margin-left: 320px;
    margin-bottom: 40px;
}

.btn {
    padding: 120px;
    border: 5px solid darksalmon;
}

#first {
    background-image: url("http://i66.tinypic.com/67495v.jpg");
}

#second {
    background-image: url("http://i68.tinypic.com/35jxls3.jpg");
}

#third {
    background-image: url("http://i65.tinypic.com/1235or4.jpg");
}

#fourth {
    background-image: url("http://i66.tinypic.com/2dlr76d.jpg");
}

.footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    border-top: 5px solid aquamarine;
    clear: both;
    font-family: 'Amatic SC', cursive;
    background: darksalmon;
}

@media  only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}